        <footer>
            <ul>
                <li class="__footer-li"><a href="/lexique" aria-label="Aller à la page Lexique">LEXIQUE</a></li>
            </ul>
        </footer>
        <script src="../js/app.js"></script>
    </body>
</html>