<%- include('partials/header') %>
<main>
    <h2>Erreur 404 - Cette page n'existe pas</h2>
    <img src="../img/lost_snow.webp" alt="Paysage de montagne enneigée avec une personne marchant seule en raquette">
    <h3>Seules les personnes partant à l'aventure, risquent de se perdre, bel état d'esprit !</h3>
    <button><a href="/">Retourner à l'accueil</a></button>
</main>
<%- include('partials/footer') %>