<%- include('partials/header') %>
<main>
    <h2>LEXIQUE</h2>
    <dl>
        <dt><strong>Agriculture biologique</strong></dt>
        <dd>Méthode de culture des plantes et de production animale qui n'utilise pas d'engrais ou de pesticides synthétiques et qui privilégie les pratiques respectueuses de l'environnement.</dd>
        
        <dt><strong>Biodiversité</strong></dt>
        <dd>La variété des formes de vie sur Terre, y compris les divers écosystèmes, les espèces végétales et animales, ainsi que la diversité génétique au sein des populations. Dans tout écosystème, les formes de vie sont complexes et interconnectées, elles ont chacunes un rôle à jouer afin de maintenir un équilibre. Un équilibre qui a parfois mis beaucoup de temps à se construire.  </dd>
        
        <dt><strong>Compostage</strong></dt>
        <dd>Décomposition biologique des déchets organiques en un amendement riche en nutriments pour le sol.</dd>
        
        <dt><strong>Consommation responsable</strong></dt>
        <dd>Pratique consistant à faire des choix conscients lors de l'achat de biens et de services afin de réduire l'impact environnemental et social.</dd>
        
        <dt><strong>Déforestation</strong></dt>
        <dd>La destruction délibérée et à grande échelle des forêts, souvent pour faire place à l'agriculture, l'urbanisation ou l'exploitation forestière.</dd>
        
        <dt><strong>Éco-label</strong></dt>
        <dd>Un label attribué à un produit ou à un service qui respecte des critères environnementaux prédéfinis.</dd>
        
        <dt><strong>Éco-responsabilité</strong></dt>
        <dd>L'engagement à adopter des comportements et des pratiques qui minimisent l'impact environnemental et favorisent la durabilité.</dd>
        
        <dt><strong>Éco-système</strong></dt>
        <dd>Un ensemble d'êtres vivants et d'éléments non vivants qui interagissent dans un environnement donné.</dd>
        
        <dt><strong>Énergie renouvelable</strong></dt>
        <dd>Sources d'énergie qui sont naturellement renouvelées, comme l'énergie solaire, éolienne, hydraulique et géothermique.</dd>
        
        <dt><strong>Gaz à effet de serre</strong></dt>
        <dd>Les gaz, comme le dioxyde de carbone et le méthane, qui emprisonnent la chaleur dans l'atmosphère terrestre et contribuent au réchauffement climatique.</dd>
        
        <dt><strong>Gestion durable des ressources</strong></dt>
        <dd>Utilisation des ressources naturelles de manière à répondre aux besoins actuels sans compromettre la capacité des générations futures à répondre à leurs propres besoins.</dd>
        
        <dt><strong>Permaculture</strong></dt>
        <dd>Une approche de conception agricole et de gestion des terres qui vise à imiter les modèles et les processus trouvés dans la nature pour créer des écosystèmes durables et productifs.</dd>
        
        <dt><strong>Pesticides biologiques</strong></dt>
        <dd>Substances utilisées pour lutter contre les ravageurs et les maladies des plantes, dérivées de sources naturelles plutôt que synthétiques.</dd>
        
        <dt><strong>Puits de carbone</strong></dt>
        <dd>Les écosystèmes tels que les forêts et les océans qui absorbent le dioxyde de carbone de l'atmosphère, aidant à atténuer le changement climatique.</dd>
        
        <dt><strong>Recyclage</strong></dt>
        <dd>Processus de transformation des déchets en nouveaux produits pour éviter l'élimination des matériaux et économiser les ressources naturelles.</dd>
    
        <dt><strong>Écologie</strong></dt>
        <dd>Étude des interactions entre les organismes et leur environnement.</dd>
    
        <dt><strong>Économie circulaire</strong></dt>
        <dd>Un système économique visant à éliminer le gaspillage en réutilisant les ressources et les matériaux autant que possible.</dd>
    
        <dt><strong>Écosystème aquatique</strong></dt>
        <dd>Un système écologique composé d'organismes vivants et d'éléments non vivants qui interagissent dans un environnement aquatique.</dd>
    
        <dt><strong>Énergies fossiles</strong></dt>
        <dd>Des sources d'énergie non renouvelables comme le pétrole, le charbon et le gaz naturel, qui sont issues de la décomposition de matières organiques sur de longues périodes de temps géologiques.</dd>
    
        <dt><strong>Érosion</strong></dt>
        <dd>La perte graduelle et naturelle de sol ou de roche à cause de l'abrasion, du vent, de l'eau ou d'autres facteurs environnementaux.</dd>
    
        <dt><strong>Fertilisant organique</strong></dt>
        <dd>Matériaux organiques ou naturels utilisés pour enrichir le sol en nutriments nécessaires à la croissance des plantes.</dd>
    
        <dt><strong>Gestion des déchets</strong></dt>
        <dd>L'organisation, le traitement et l'élimination des déchets de manière responsable afin de réduire l'impact environnemental.</dd>
    
        <dt><strong>Habitat naturel</strong></dt>
        <dd>L'environnement spécifique où vit une espèce, comprenant les conditions biologiques et physiques nécessaires à sa survie.</dd>
    
        <dt><strong>Impact environnemental</strong></dt>
        <dd>Les effets, positifs ou négatifs, que les actions humaines ont sur l'environnement, y compris la pollution, la dégradation des habitats et la perte de biodiversité.</dd>
    
        <dt><strong>Indice de durabilité</strong></dt>
        <dd>Un indicateur utilisé pour évaluer les pratiques, les politiques ou les produits en termes de leur durabilité environnementale, économique et sociale.</dd>
    
        <dt><strong>Innovation écologique</strong></dt>
        <dd>Le développement de nouvelles technologies, pratiques ou produits qui contribuent à la protection de l'environnement et à la durabilité.</dd>
    
        <dt><strong>Micro-organismes</strong></dt>
        <dd>Organismes vivants microscopiques tels que les bactéries, les champignons et les virus, qui jouent un rôle essentiel dans de nombreux processus écologiques, notamment le recyclage des nutriments et la décomposition des déchets.</dd>
    
        <dt><strong>Monoculture</strong></dt>
        <dd>La pratique agricole consistant à cultiver une seule espèce de plante sur une grande surface de terrain, ce qui peut entraîner des problèmes de santé des sols et de la biodiversité.</dd>
    
        <dt><strong>Océanographie</strong></dt>
        <dd>La branche des sciences de la terre qui étudie les océans, y compris leur composition, leur dynamique, leur écologie et leur interaction avec l'atmosphère terrestre.</dd>
    
        <dt><strong>Organisme génétiquement modifié (OGM)</strong></dt>
        <dd>Un organisme dont le matériel génétique a été modifié de manière artificielle pour lui conférer des caractéristiques spécifiques telles que la résistance aux maladies ou aux herbicides.</dd>
    
        <dt><strong>Parc naturel</strong></dt>
        <dd>Une zone protégée dédiée à la conservation de la nature et à la préservation des écosystèmes, souvent utilisée pour la recherche scientifique, l'éducation et le tourisme écologique.</dd>
    
        <dt><strong>Pluie acide</strong></dt>
        <dd>Des précipitations contenant des niveaux élevés d'acides sulfurique et nitrique, résultant de la pollution atmosphérique, qui peuvent causer des dommages aux écosystèmes terrestres et aquatiques.</dd>
    
        <dt><strong>Protection de la faune et de la flore</strong></dt>
        <dd>L'ensemble des mesures visant à préserver et à restaurer les populations animales et végétales, ainsi que leurs habitats, contre les menaces telles que la chasse excessive, la déforestation et la pollution.</dd>
    
        <dt><strong>Réchauffement climatique</strong></dt>
        <dd>L'augmentation à long terme de la température moyenne de la surface de la Terre, principalement due aux émissions humaines de gaz à effet de serre.</dd>
    
        <dt><strong>Régénération naturelle</strong></dt>
        <dd>Le processus par lequel les écosystèmes se rétablissent et se renouvellent naturellement après avoir été perturbés par des événements tels que des incendies, des tempêtes ou des activités humaines.</dd>
    
        <dt><strong>Restauration écologique</strong></dt>
        <dd>Le processus de réhabilitation et de revitalisation des écosystèmes dégradés ou endommagés afin de restaurer leur structure, leur fonctionnement et leur biodiversité d'origine.</dd>
    
        <dt><strong>Ressources naturelles</strong></dt>
        <dd>Les matières premières ou les éléments présents dans l'environnement, tels que l'air, l'eau, le sol, les minéraux et la biomasse, qui sont utilisés par les humains pour répondre à leurs besoins.</dd>
    
        <dt><strong>Santé environnementale</strong></dt>
        <dd>L'étude des interactions entre l'environnement et la santé humaine, ainsi que des mesures visant à prévenir les maladies et les problèmes de santé liés à des facteurs environnementaux.</dd>
    
        <dt><strong>Services écosystémiques</strong></dt>
        <dd>Les bénéfices que les êtres humains obtiennent des écosystèmes, tels que la purification de l'air et de l'eau, la pollinisation des cultures, le stockage du carbone et la régulation du climat.</dd>
    
        <dt><strong>Sobriété énergétique</strong></dt>
        <dd>La réduction de la consommation d'énergie par des changements de comportement, des technologies plus efficaces et des pratiques de conception durable.</dd>
    
        <dt><strong>Soutenabilité</strong></dt>
        <dd>La capacité à maintenir ou à soutenir un système ou une activité de manière continue sans épuiser les ressources naturelles ou causer des dommages environnementaux, sociaux ou économiques à long terme.</dd>
    
        <dt><strong>Technologie verte</strong></dt>
        <dd>Les innovations technologiques qui réduisent l'impact environnemental et favorisent la durabilité, telles que les énergies renouvelables, les véhicules électriques et les matériaux recyclables.</dd>
    
        <dt><strong>Transition écologique</strong></dt>
        <dd>La transition vers une économie, une société et des modes de vie qui sont respectueux de l'environnement, durables et résilients face aux changements climatiques et environnementaux.</dd>
    
        <dt><strong>Valorisation des déchets</strong></dt>
        <dd>La conversion des déchets en nouvelles ressources ou en énergie, par des processus tels que le recyclage, la compostage et la production de biogaz.</dd>
    
        <dt><strong>Végétalisation urbaine</strong></dt>
        <dd>L'intégration d'espaces verts, tels que des parcs, des jardins et des toits végétalisés, dans les environnements urbains pour améliorer la qualité de l'air, la biodiversité et le bien-être des citadins. La végétalisation à plusieurs bien-faits :<ul><li>Absorber l'eau de pluie, et ainsi réduire l'ampleur des inondations par ruissellement provoquées par des villes surbétonnées.</li><li>Assainir l'air en absorbant le CO2 et en libèrant de l'oxygène</li><li>Réduire la chaleur en été avec des zones ombragées, les espaces verts absorbent moins de chaleur que les surfaces pavées ou bétonnées, aidant à réduire l'effet d'îlot de chaleur urbain et à atténuer les températures élevées.</li><li>Réduction du bruit,  Les plantes absorbent le bruit et agissent comme des barrières acoustiques, atténuant ainsi les niveaux de bruit dans les environnements urbains et améliorant la qualité de vie des résidents.</li></ul>Et on pourrait parler des économies d'énergie grâce à une chaleur moins importante, l'amélioration de la santé mentale ou encore de l'augmentation de la biodiversité.</dd>
    </dl>
    
</main>

<%- include('partials/footer') %>