
.title-contact {
    text-align: center;
}

.contact-form {
width: 90%;
max-width: 600px;
background-color: white ;
border-radius: 5px;
border: 1px solid #8caf3b;
margin: 1.5rem auto;
padding: 2rem;
display: flex;
flex-direction: column;
justify-content: space-evenly;
box-shadow: 2px 2px 5px 0px lightgray;
}

.form_fieldset {
    border: none;
    width: 100%;
}

.form-legend {
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
    margin: 2rem auto;
    color: #8caf3b;
}

.form-champs {
    display: flex;
    flex-direction: column;
}

.form-input {
width: 100%;
height: 2.5rem;
margin: 0.2rem auto 1rem auto ;
}

.form-textarea {
    width: 100%;
    max-width: 100%;
    margin-top: 0.2rem;
}

.form-textarea #objet {
    height: 2rem;
}

.form-label {
    justify-content: center;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #8caf3b;
}

.contact-form button {
    margin: 1.5rem auto 0;
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 5px;
}

@media screen and (min-width: 769px) {
    .contact-form {
        width: 50%;
    }
    .form-legend {
        font-size: 2rem;
    }
    .form-label {
        font-size: 1.5rem;
    }
}